@import "tailwindcss";

/* Connect Next.js font variables to Tailwind utilities */
@theme {
  --font-mulish: var(--font-mulish), sans-serif;
  --font-tenor: var(--font-tenor), sans-serif;
}

/* Removes mobile tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

/* (Optional) If you want Mulish everywhere by default */
body {
  @apply font-mulish;
}

.test {
  border: 1px solid red;
}
