@import "tailwindcss";
@theme {
  --font-mulish: var(--font-mulish), sans-serif;
  --font-tenor: var(--font-tenor), sans-serif;
  --color-theme: #000;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--usertheme);
}

.hidescroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.hidescroll::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  @apply font-mulish;
}

.test {
  border: 1px solid red;
}
